.about-img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}


.about-info-items {
    padding: 50px;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin:0 25px;
    line-height: 25px;
}

.about-info {
    display: none;
    transition: display 0.5s linear;
    align-items: center;
    text-align: center;

}

.about-info-items:hover > .about-info > .arrow{
    color: rgb(95, 95, 95);
}

.about-info-items:hover {
    background-color: #E2D8F0;
    position: relative;
}

.about-info-items:hover:after {
    content: '';
	position: absolute;
	right: -20px;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #E2D8F0;
	border-right: 0;
	margin-top: -20px;
	margin-left: -20px;
}



.about-info-1 {
    display: flex;
    text-align: right;
}

.arrow-left {
    padding-left: 50px;
}

.arrow-right {
    padding-right: 50px;
}

.arrow {
    cursor: pointer;
    font-size: xx-large;
    color: white;

}

.about-info-items:hover > .about-info > .arrow:hover {
    color: black;
}