.nav-btn-closed{
    cursor: pointer;
    background-image: url("../assets/icons/nav-btn-close-y.png");
    background-position: left center;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-repeat: no-repeat; 
}

.odd-nav-btn {
    margin-top: 0px;
}

#nav-checkbox {
    display: none;
}

#navAside {
    position:fixed;
    top:0;
    width: 100px;
    height: 100vh;
    background: #3535359f;
    padding-right: 40px;
    transition: margin 0.3s ease-in-out, background 0.3s ease-in-out;
    z-index: -1;
    display: flex;
}

.nav-border{
    height: 100%;
    border-right: 1px solid #e2d8f0;
}

#nav-checkbox:checked + * + #navAside {
    margin: auto -100px auto 100px;
    background: rgba(53, 53, 53, 0.158);

}

#nav-checkbox:checked + * + #navAside > .nav-border, #nav-checkbox:checked + * + #navAside > .nav-bar-links {
    display: none;
}

#nav-checkbox:checked + .nav-btn-closed {
    background-image: url("../assets/icons/nav-btn-closed-y.png");
}

.contact-fixed {
    position:fixed;
    top: 70px;
    flex-direction: column;
    z-index: 5;
}


.contact-btn {
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    transition: width 0.3s ease-in-out;
    display: flex;
    justify-content: flex-start;
    margin-right: 5px;
}


.contact-btn > img {
    height: 30px;
    display: flex;
}

.cont-btn-open-ex {
    background-position: left center;
    background-size: auto 100%;
    height: 30px;
    margin: 0px 5px;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    transition:  display 0.5s ease-in-out;

}
.contact-btn-experimental  {
    height: 30px;
    position: relative;
    cursor: pointer;
}

.cont-btn-container-ex {
    position: absolute;
    margin: 0 5px;
    transition: transform 0.7s ease-in-out, margin-left 0.7s ease-in-out;
}

.contact-btn-experimental:hover > .cont-btn-container-ex {
    transform: rotate(-360deg);
    margin-right: 66px;

}

.contact-btn-experimental:hover > .cont-btn-open-ex {
    display: flex;
}

.nav-bar-link {
    color: black;
    background-color: #ffffffa2;
    margin-bottom: 2px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.nav-bar-link:hover {
    color: white;
    background-color: #0c0c0c9f;
    box-shadow: 40px 0px 30px #ffffffa2;
}

.nav-bar-link:nth-of-type(1){
    margin-top: 90px;
}

#cont-btn-open {
    display: none;
}

.cont-btn-closed {
    height: 30px;
    display: flex;
}

.open-icon-effect {
    -webkit-transition: -webkit-transform .5s ease-in-out, -webkit-margin-right .5s ease-in, -webkit-margin-right .5s ease-in;
    transition:         transform .5s ease-in-out, margin-right .5s ease-in, margin-right .5s ease-in;
}

.cont-btn-container:hover > .open-icon-effect{
    transform: rotate(-360deg);
    margin-right: 59px;
    margin-left: 10px;
}

.contact-btn:hover {
    width: 100px;
}

.whatsappLogo-fixed {
    width: 40px;
    height: 40px;
}

.logo-fixed {
    display: flex;
}

.contact-fixed {
    display: flex;
    align-items: flex-start;
}

@media only screen and (max-height: 400px){
    .nav-bar-link {
        font-size: small;
    }
}