#bottom-msg{
    display:none;
}

.recommendation{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    grid-gap: 20px;
}

.date {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    width: fit-content;
    margin: auto;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 1px 2px #808080d0;
}

.date-title {
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.write-a-message{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.send-btn {
    height: inherit;
    background-color: #00887A;
    color: white;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-right: 0;
    transition: background-color 0.3s ease-in-out;
}

.chat-symbols:nth-of-type(2){
    padding-bottom: 10px;
}

.send-btn:hover{
    background-color: #3FA79C;
}

.message-input-container textarea {
    border: none;
    outline: none;
    width: inherit;
    resize: none;
    height: 40px;
    align-self: center;
    align-content: center;
    font-size: large;
}

.message-input-container {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
}

.relative-container {
    position:relative;
    width: 100%;
}

.chat-symbols {
    justify-self: center;
    text-align: center;
    padding: 5px;
    font-size: medium;
    align-self: flex-end;
    color: gray;
    height: fit-content;
    width: fit-content;
    margin: 0;

}

.recommender {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e2d8f0;
    transform: translateY(-50%);
    text-align: center;
    box-shadow: 0px 1px 2px #808080d0;
}

.recommendations-container {
    position:relative;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.recommendation-content {
    grid-column: span 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #e2d8f0;
    border-radius: 5px 0px 5px 5px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    box-shadow: -1px 1px 2px #808080d0;
}

.score {
    color: rgba(58, 58, 58, 0.781);
    align-self: flex-end;
    margin-top: 5px;
}

.recommendation-content:nth-of-type(odd):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #e2d8f0;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
    
}

.recommendation-content:nth-of-type(even):after {
    content: '';
    position: absolute;
    left: 0;
    top: 0%;
    transform: translateY(50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: inherit;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.recommendation-content:nth-of-type(even) {
    justify-self: flex-end;
    align-items: flex-end;
    text-align: left;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 2px #808080d0;

}

.host {
    background-color: #DCF8C6;
    border: #DCF8C6;
}

.host-last {
    text-align: right!important;
    align-items: flex-start!important;
}

.host-last > a {
    color: blue;
}

.user {
    border: #e2d8f0;
}

#hostMessage {
    display: none;
}

.scroll-icon{
    z-index: 5;
    align-self: flex-end;
    position: sticky;
    top: 0%;

}

.scroll-up-icon {
    display: none;
}

.scroll-down-icon > img, .scroll-up-icon > img {
    width: 40px;
    opacity: 50%;
}

.scroll-down-icon > img:hover, .scroll-up-icon > img:hover {
    opacity: 90%;
}

@media only screen and (max-width: 860px){
    .recommender {
        width: 70px;
        height: 70px;
        font-size: small;
        margin: 0;
    }

    .recommender:nth-of-type(odd){
        justify-self: flex-end;
    }
}

@media only screen and (max-width: 650px){

    .recommender {
        width: 50px;
        height: 50px;
        font-size: x-small;
        margin: 0;
    }

    .recommender:nth-of-type(odd){
        grid-column-start: 12 ;
        grid-column: span 2;
        justify-self: flex-end;
    }

    
}


