@font-face {
    font-family: Assistant;
    src: url("../assets/fonts/Assistant-Regular.ttf");
}

* {
    font-family: Assistant;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
}

header{
    display: flex;
    height: 75px;
}

footer {
    display: flex;
    justify-content: center;
}

.logo {
    width: 250px;
    z-index: 6;
}

header img {
    margin-right: 40px;
    height: 75px !important;
}

footer img {
    height: 27px !important;
}

.container {
    height: 100%;
}

.main-section {
    height: 80vh;
    padding: 15px 15vw;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section:nth-of-type(even){
    height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

h1 {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 50px;
    border-radius: 100px;
    width: 50%;
    text-align: center;
    -webkit-transition: width 1s ;
    -moz-transition: width 1s ;
    -o-transition: width 1s;
    transition: width 1s ;
}

.main-section:nth-of-type(2){
    background-image: url("../assets/images/backgrounds/bg-2.jpg");
}

.main-section:nth-of-type(4){
    background-image: url("../assets/images/backgrounds/bg-6.jpg");
}

.main-section:nth-of-type(6){
    background-image: url("../assets/images/backgrounds/bg-4.jpg");
}

.main-section:nth-of-type(8){
    background-image: url("../assets/images/backgrounds/bg-3.jpg");
}

.main-section:nth-of-type(10){
    background-image: url("../assets/images/backgrounds/bg-5.jpg");
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.youtube-info {
    margin-left: 20px;
}

@media only screen and (max-width: 1200px){
    .main-section {
        padding: 15px 8vw;
    }
}

@media only screen and (max-width: 900px){
    .main-section {
        padding: 15px 2vw;
    }
    .explanation {
        justify-content: start;
    }
}


@media only screen and (max-width: 768px){
    .main-section:nth-of-type(2), .main-section:nth-of-type(4), .main-section:nth-of-type(6), .main-section:nth-of-type(8), .main-section:nth-of-type(10){
        background-attachment: scroll!important;
    }

    #bottom-msg{
        display:flex;
    }

    .scroll-icon{
        transform: translateY(250px);

    }
}


@media only screen and (max-width: 650px){

    h1 {
        padding: 10px;
    }

    #ex-2{        
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .explanation {
        position: static;
        flex: 1;
    }

    #ex-1{        
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .opc-1, .opc-2, .opc-3 , .opc-4 , .opc-5, .opc-6, .opc-7 {
        grid-column: span 12;
        height: fit-content;
    }

    #wrapper {
        display: none;
    }

    .main-section {
        padding: 15px 2vw;
        flex-direction: column;
        height: fit-content;
    }

    .main-section:nth-of-type(even){
        background: white;
    }

    .about-img {
        width: 90%;
        height: auto;
    }

    .about-info-items {
        background-color: #E2D8F0;
        padding: 5px;
        margin-top: 10px;
        font-size: medium;
        height: 250px;
    }

    .arrow-left, .arrow-right{
        margin: 0;
        padding: 5px;
    }

    .about-info-items:hover:after {
        display: none!important;
    }

    .about-info-items > .about-info > .arrow{
        color: rgb(95, 95, 95);
    }
    
    .about-info-items:hover {
        background-color: #E2D8F0;
    }

    iframe {
        max-width: 100%;
    }

    .last-section {
        flex-direction: column;
        height: fit-content;
    }

    .main-section:nth-of-type(even) {
        height: fit-content;
    }

    .youtube-info {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .modal-info {
        margin: 0;
    }

    .close-modal-icon {
        right: 50%;
        transform: translateX(50%);
    }
    .arrow-style {
        display: none;
    }

    .ex-style {
        display: block;
    }

    .recommendation-content {
        grid-column: span 9;
    }

    .recommendation-content:nth-of-type(odd) {
        grid-column-start: 3;
        grid-column: span 10;
    }

    .recommendation-content:nth-of-type(even) {
        grid-column-start: 1;
        grid-column: span 10;
    }

    .recommendations-container {
        height: 300px;
        overflow: auto;
        background: inherit;
    }

    .bottom-msg{
        height: inherit!important;
    }

    .whatsapp-bg {
        background-image: url('../assets/images/backgrounds/whatsapp-bg.jpg');
        background-size: cover;
    }

    .message-input-container {
    border: 0px;

    }

    .modal-title-2 {
        margin-top: 40px;
    }

    .open-icon-effect {
        -webkit-transition: none;
        transition: none;
    }

    .cont-btn-container:hover > .open-icon-effect{
        margin-right: initial;
        margin-left: initial;
    }
}

@media only screen and (max-width: 400px){
    .recommender {
        width: 50px;
        height: 50px;
        font-size: x-small;
        margin: 0;
    }

    .recommender:nth-of-type(odd){
        grid-column-start: 12 ;
        grid-column: span 3;
        justify-self: flex-end;
    }

    .recommender:nth-of-type(even){
        grid-column-start: 12 ;
        grid-column: span 3;
        justify-self: flex-start;
    }

    .recommendation-content:nth-of-type(odd) {
        grid-column-start: 3;
        grid-column: span 9;
    }

    .recommendation-content:nth-of-type(even) {
        grid-column-start: 1;
        grid-column: span 9;
    }
}